In [1]:
#파이썬
변수 = 값 (R : 변수 <- 값) """=" 변수에다가 값 넣저워.. 변수는 값이야.."""

SyntaxError: invalid syntax (<ipython-input-1-f223293ec20a>, line 2)

In [2]:
a = 5

In [3]:
print(a)

5

In [6]:
b = 3
print(b)
b = 11
print(b)

3
11

In [9]:
a = 9
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

print(a//b) #  a를 b로 나누었을때 몫
print(a%b) # a를 b로 나누었을때 나머지

14
4
45
1.8
1
4

In [10]:
pie = 3.14
print(pie)

3.14

In [ ]:
변수 = 값
변수 = 숫자(정수, 실수)
변수 = 문자

In [12]:
#name = "이정훈"
name = '이정훈'
print(name)

이정훈

In [15]:
s1 = "산"
s2 = "토끼"

print(s1 + s2)
print(s2 + s1)

산토끼
토끼산

In [18]:
n1 = 3
print(n1 + n1 + n1 + n1 +n1)
print(n1 * 5)

15
15

In [19]:
s3 = "*"
print(s3 + s3 + s3 + s3 + s3)
print(s3 * 5) #문자열 * 숫자 가능

*****
*****

In [23]:
변수 = 값
"사과" "소나타"

NameError: name '값' is not defined

In [24]:
n1 = 111
#n2 = "999"
n2 = 999
print(n1 + n2) #텍스트와 정수는 계산이 안됌!

1110

In [28]:
#type() 데이터타입 / 종류
print( type(n1))
print( type("이정훈"))

<class 'int'>
<class 'str'>

In [29]:
name = "장남수"
neme = "데이터공방"

In [ ]:
### 데이터를 그룹으로 만들기
# 대제목
## 중제목
### 소제목
- 블릿기호
- 블릿기호
    1. 소제목
    2. 소제목

## 리스트

In [37]:
# color_list = [원소1, 원소2, 원소3, ...]
color_list = ['빨강','노랑','파랑','초록']
print(color_list)

['빨강', '노랑', '파랑', '초록']

In [38]:
# len() : length 길이가 어떻게 돼? 원소의 개수
print(len(color_list))

4

In [42]:
#color_list 안에서 첫 번째 꺼.. 화장실 색상으로 해줘
#color_list 두번째꺼는 안방 색상으로 해줘..

#color_list[몇번째꺼] : index 번호 0부터 시작 
print(color_list[0])
print(color_list[1])
print(color_list[2])
print(color_list[len(color_list)-2])
print(color_list[               -2])

print(color_list[1])
print(color_list[-3])

빨강
노랑
파랑
파랑
파랑
노랑
노랑

In [44]:
# : --> 어디부터 어디까지 .... 구간 
# ()--> 명령어() "명령어 실행해줘"
# []--> 변수[]   "변수에서 어떤 부분 선택할래"
# {}--> 

# 구간
color_list = ['빨강','노랑','파랑','초록']

#슬라이싱 
#print(color_list[시작:끝])
print(color_list[1:3]) #시작부분은 포함 끝은 포함 x 이상부터 미만까지 느낌

['노랑', '파랑']

In [45]:
movie_star = ['류승범','이병헌','김태리']
print(movie_star)

['류승범', '이병헌', '김태리']

In [47]:
#송강호..
#movie_star "송강호 추가해줘..."
#list.append()
movie_star.append('송강호') #나중에 크롤링한 데이터를 추가해주는데 사용함 
print(movie_star)

['류승범', '이병헌', '김태리', '송강호']

In [ ]:
bset_seller_list =[]

book_data = ['책제목','책가격','책출판사1']
best_seller_list.append(book_data)

In [ ]:
best_seller_list = [
    ['책제목','책가격','책출판사1'],
    ['책제목','책가격','책출판사1'],
    ['책제목','책가격','책출판사1'],
    ['책제목','책가격','책출판사1'],
    ['책제목','책가격','책출판사1']
]

In [ ]:
변수 = 값 # 숫자, int/float 문자 "장남수",  리스트[원소, 원소,]

In [ ]:
리스트.append()

In [52]:
#리스트 추가 설명
#크롤링 진행시라고 가정. 
results = [] #전체 데이터가 담길 공간 / 리스트
print(results)

#첫번째 노래 정보 수집
song_data = ['제목','가수','좋아요수']
#전체 데이터에 추가
results.append(song_data)
print(results)

#두번째 노래정보 수집
song_data = ['제목2','가수2','좋아요수2']
#전체데이터에 추가
results.append(song_data)
print(results)

[]
[['제목', '가수', '좋아요수']]
[['제목', '가수', '좋아요수'], ['제목2', '가수2', '좋아요수2']]

In [ ]:
data = ['2020-01-01','장남수','010-1111-1111']

In [53]:
#딕셔너리 = {'이름(key)':'값','이름':'값','이름':'값','이름':'값'}

data = {
    '일자' : '2020-01-01',
    '이름' : '홍길동',
    '전화번호' : '010-3013-4409'
}

In [54]:
data['전화번호']

'010-3013-4409'