In [1]:
movie_star_list = ['송강호','류승범','이병헌','김태리']
print(movie_star_list[0])
print(movie_star_list[1])
print(movie_star_list[2])
print(movie_star_list[3])

송강호
류승범
이병헌
김태리

In [1]:
#movie_star_list -> 하나씩 꺼내서 프린트해줘
#for 반복문
#for 변수 in 그룹
movie_star_list = ['송강호','류승범','이병헌','김태리']

#그룹에서 순서대로 하나씩 꺼내서 변수에 넣어줘
for movie_star in movie_star_list: 
    print(movie_star)
    print(movie_star)
#반복문이던 조건문이던 ":" 다음에 들여쓰기로 구분

송강호
송강호
류승범
류승범
이병헌
이병헌
김태리
김태리

In [8]:
for movie_star in movie_star_list: 
    print(movie_star)
    print('check1')
    
print('check2')

송강호
check1
류승범
check1
이병헌
check1
김태리
check1
check2

## 조건문

In [ ]:
if 조건1 : 
    실핼문1
    실행문2
elif 조건2 :           #위에 조건들이 모두 아니면서 동시에 조건2가 만족하는 경우 
    실행문3
    실행문4
elif 조건3 :
    실행문.......
    
else :     #위 조건들이 모두 아닐 경우 
    실행문

In [15]:
# 2>= 0 "물어보는 거"
# 2 < 0 
# 변수 = 값 / 변수 == 값 
name = '장남수'

#name in "장남수 강사" #문자열을 하나의 그룹으로 볼 수 있음 
name == "장남수 강사"

False

In [13]:
n = 2

if n <= 0 :
    print('자연수를 넣어주세요')
elif n > 20 :
    print('20보다 큰 수')
elif n > 10:
    print('조금 큰 수 ')
else:
    print('작은수')

작은수

## 문자열 포매팅

In [17]:
msg = "안녕하세요 장남수님. 진로컨설팅 서비스에 가입해주셔서 감사합니다."
print(msg)

안녕하세요 장남수님. 진로컨설팅 서비스에 가입해주셔서 감사합니다.

In [20]:
name = '이정훈'
service = '진로상담'

msg = "안녕하세요 name님. service서비스에 가입해주셔서 감사합니다."
print(msg)

안녕하세요 name님. service서비스에 가입해주셔서 감사합니다.

In [21]:
#파이썬 3.6이후부터 사용가능한 f-string

name = '이정훈'
service = '진로상담'

msg = f"안녕하세요 {name}님. {service}서비스에 가입해주셔서 감사합니다."
print(msg)

안녕하세요 이정훈님. 진로상담서비스에 가입해주셔서 감사합니다.

In [23]:
name = '이정훈'
name_list = ['장남수','이병헌','이태현','이정훈','이재현']
for name in name_list :
    service = '진로상담'
    msg = f"안녕하세요 {name}님. {service}서비스에 가입해주셔서 감사합니다."
    print(msg)

안녕하세요 장남수님. 진로상담서비스에 가입해주셔서 감사합니다.
안녕하세요 이병헌님. 진로상담서비스에 가입해주셔서 감사합니다.
안녕하세요 이태현님. 진로상담서비스에 가입해주셔서 감사합니다.
안녕하세요 이정훈님. 진로상담서비스에 가입해주셔서 감사합니다.
안녕하세요 이재현님. 진로상담서비스에 가입해주셔서 감사합니다.

In [ ]:
\n --> 줄바꿈. 엔터
\t --> 탭문자. 들여쓰기

In [28]:
#raw = "                   태극기가 바람에 펄럭입니다. 하늘 높이 펄럭입니다."
raw = "                   \n\n태극기가 바람에 펄럭입니다. 하늘 높이 펄럭입니다." # 

print(raw)

태극기가 바람에 펄럭입니다. 하늘 높이 펄럭입니다.

In [ ]:
변수.함수() --> 변수를 가지고 함수() 실행시켜줘!

In [ ]:
문자열.replace(A,B)--> 문자열 내에서 A->B 변경해줘

In [30]:
print(raw.replace('하늘 높이', '하늘높이'))

태극기가 바람에 펄럭입니다. 하늘높이 펄럭입니다.

In [29]:
#문자열.strip() --> 앞/뒤로 공백문자 없애기
print(raw.strip())

태극기가 바람에 펄럭입니다. 하늘 높이 펄럭입니다.

In [40]:
result = raw.strip().replace('하늘 높이', '하늘높이')

In [41]:
print(result)

태극기가 바람에 펄럭입니다. 하늘높이 펄럭입니다.

In [43]:
#데이터 나누기
#문자열.split()
raw =  '미국/한국/일본/중국'
raw.split('/') #'/' 기준으로 나눠줘

['미국', '한국', '일본', '중국']

In [ ]:
#요약
#변수 = 값